.form-input-container {
    @apply flex justify-end;
}

mwc-icon-button {
    &.gray {
        @apply bg-gray-600 fill-current text-akwaaba-orange-dark;
    }
    &.success {
        @apply bg-green-600 fill-current text-white;
    }
    &.info {
        @apply bg-blue-400 fill-current text-white;
    }
    &.warning {
        @apply bg-akwaaba-orange-default fill-current text-white;
    }
    &.danger {
        @apply bg-red-600 fill-current text-white;
    }
    &.primary {
        @apply bg-blue-600 fill-current text-white;
    }
}

mwc-button,
.button {
    --mdc-theme-primary: var(--theme-default-color);
    --mdc-theme-on-primary: white;
    &.gray,
    &.gray[data-btn-to="active"] {
        --mdc-theme-primary: var(--theme-gray-color);
        --mdc-theme-on-primary: rgb(17, 24, 39);
    }
    &.success,
    &.success[data-btn-to="active"] {
        --mdc-theme-primary: var(--theme-success-color);
        --mdc-theme-on-primary: white;
    }
    &.info,
    &.info[data-btn-to="active"] {
        --mdc-theme-primary: var(--theme-info-color);
        --mdc-theme-on-primary: white;
    }
    &.warning,
    &.warning[data-btn-to="active"] {
        --mdc-theme-primary: var(--theme-warning-color);
        --mdc-theme-on-primary: white;
    }
    &.danger,
    &.danger[data-btn-to="active"] {
        --mdc-theme-primary: var(--theme-danger-color);
        --mdc-theme-on-primary: white;
    }
    &.primary,
    &.primary[data-btn-to="active"] {
        --mdc-theme-primary: var(--theme-primary-color);
        --mdc-theme-on-primary: white;
    }
    &[data-btn-to="inactive"] {
        &.gray {
            --mdc-theme-primary: var(--theme-gray-color);
            --mdc-theme-on-primary: white;
        }
        &.success {
            --mdc-theme-primary: var(--theme-success-color-disabled);
            --mdc-theme-on-primary: white;
        }
        &.info {
            --mdc-theme-primary: var(--theme-info-color-disabled);
            --mdc-theme-on-primary: white;
        }
        &.warning {
            --mdc-theme-primary: var(--theme-warning-color-disabled);
            --mdc-theme-on-primary: white;
        }
        &.danger {
            --mdc-theme-primary: var(--theme-danger-color-disabled);
            --mdc-theme-on-primary: white;
        }
        &.primary {
            --mdc-theme-primary: var(--theme-primary-color-disabled);
            --mdc-theme-on-primary: white;
        }
    }
}


/* END :: BUTTONS */