<!-- $tf -->
<div class="{{main_class}}">
	<div class="form-group">
		<div class="input-group mb-4">
			<select class="form-control {{input_class}}" {{input_attributes}}>{{options}}</select>
			<div class="input-group-append" {{icon_id}} >
	        	<span class="input-group-text bg-transparent px-2">
	        		<i class="{{icon}} font-weight-bolder "></i>
	        	</span>
	        </div>
		</div>
    </div>
</div>