<!-- $tf -->
<div class="{{main_class}}">
	<div class="form-group">
		<div class="input-group input-group--both mb-4">
			<div class="input-group-prepend" {{icon_attributes}} >
				<span class="input-group-text bg-transparent px-2">
					<i class="{{icon}} font-weight-bolder "></i>
				</span>
			</div>
			<input type="{{type}}" class="form-control {{input_class}}" {{input_attributes}} />
			<div class="input-group-append" {{icon_attributes__other}} >
	        	<span class="input-group-text bg-transparent px-2">
	        		<i class="{{icon_other}} font-weight-bolder "></i>
	        	</span>
	        </div>
		</div>
    </div>
</div>