<!-- $tf -->
<div class="{{main_class}}">
	<div class="form-group">
		<div class="input-group mb-4">
			<div class="input-group-prepend" {{icon_id}} >
				<span class="input-group-text px-2">
					<i class="{{icon}} font-weight-bolder "></i>
				</span>
			</div>
			<select class="form-control {{input_class}}" {{input_attributes}}>{{options}}</select>
		</div>
    </div>
</div>