<!-- $tf -->
<div class="{{main_class}}">
    <div class="form-group">
        <input list="{{datalist_id}}" type="{{type}}" class="form-control {{input_class}}" {{input_attributes}}/>
        <datalist id="{{datalist_id}}">{{options}}</datalist>
    </div>
</div>