<!-- $tf -->
<div class="{{main_class}}">
    <div class="form-group">
        <div class="input-group input-group--both mb-4">
            <div class="input-group-prepend" {{icon_id}}>
                <span class="input-group-text bg-transparent px-2">
					<i class="{{icon}} font-weight-bolder "></i>
				</span>
            </div>
            <input list="{{datalist_id}}" type="{{type}}" class="form-control {{input_class}}" {{input_attributes}}/>
            <datalist id="{{datalist_id}}">{{options}}</datalist>
            <div class="input-group-append" {{icon_id__other}}>
                <span class="input-group-text bg-transparent px-2">
	        		<i class="{{icon_other}} font-weight-bolder "></i>
	        	</span>
            </div>
        </div>
    </div>
</div>