<!-- $tf -->
<div class="{{main_class}}">
	<div class="form-group">
		<div class="input-group mb-4">
			<div class="input-group-prepend" {{icon_id}} >
				<span class="input-group-text px-2">
					<i class="{{icon}} font-weight-bolder "></i>
				</span>
			</div>
			<input list="{{datalist_id}}" type="{{type}}" class="form-control {{input_class}}" {{input_attributes}}/>
			<datalist id="{{datalist_id}}">{{options}}</datalist>
		</div>
    </div>
</div>