<!-- $tf -->
<div class="{{main_class}}">
	<div class="form-group">
		<div class="input-group mb-4">
			<div class="input-group-prepend" {{icon_attributes}} >
				<span class="input-group-text px-2">
					<i class="{{icon}} font-weight-bolder "></i>
				</span>
			</div>
			<input type="{{type}}" class="form-control {{input_class}}" {{input_attributes}} />
		</div>
    </div>
</div>