/* START :: INPUT CSS

@import '../../../input/input.scss'; */

@import '../../../input/material.scss';

/* END :: INPUT CSS */


/* START :: BUTTON CSS */

@import '../../../button/material.scss';

/* END :: BUTTON CSS */

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    @apply bg-gradient-to-r from-gray-100 via-white to-gray-100;
}


/* START :: LOGIN_PAGE CSS */

.text-akwaaba {
    color: rgba(249, 120, 23, var(--tw-bg-opacity)) !important;
}

.bg-akwaaba {
    background-color: rgba(249, 120, 23, var(--tw-bg-opacity)) !important;
}

.wrapper.style2 .button {
    background-color: unset !important;
    color: unset !important;
}


/* END :: LOGIN_PAGE CSS */