.placeholder--load-wrapper {
    @apply relative h-full rounded;
    background-color: rgb(211, 211, 211);
    z-index: 45;
    overflow: hidden;
}

.placeholder--activity {
    @apply relative h-full;
    left: -45%;
    width: 45%;
    background-image: linear-gradient(to left, rgba(251, 251, 251, .05), rgba(251, 251, 251, .3), rgba(251, 251, 251, .6), rgba(251, 251, 251, .3), rgba(251, 251, 251, .05));
    animation: placeholder--loading 1s infinite;
    z-index: 45;
}

@keyframes placeholder--loading {
    0% {
        left: -45%;
    }
    100% {
        left: 100%;
    }
}